.DS_Store
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/

# Keep .venv for bot build
# .venv/

.dockerignore

.gitignore
.git/

.github/

.vscode/

.env

tests/
docs/

docker-compose.yml
Dockerfile

*.md
